<div id="land">
  <div class="vcenter">
  <div class="center">
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary buttons" %>
      <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary buttons" %>
      <h2>After silence, that which comes nearest to expressing the inexpressible is MUSIC.</h2>
    </div>
  </div>
  <div id="footer">with <%= fa_icon "heart" %> from Vineet Souri</div>
</div>